*.swp
*.zip
*.suo
*.user
NormalMapRotation/NormalMapRotation/bin
NormalMapRotation/NormalMapRotationContent/bin
NormalMapRotation/NormalMapRotation/obj
NormalMapRotation/NormalMapRotationContent/obj
*.cachefile
*.ccgame